body {
    width: 90%;

    background: -webkit-linear-gradient(1deg, rgb(195, 55, 100), rgb(29, 38, 113));
    background: linear-gradient(1deg, rgb(195, 55, 100), rgb(29, 38, 113));

    margin-left: auto;
    margin-right: auto;

}

article {
    font-family: sans-serif;
    color: darkgrey;
    border-left: 3px solid red;
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 150px;
}
a {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: blue;
}

a:hover{
    color: yellow;

}

a:visited {
    color:yellow;

}


#header {
    text-align: center;
    font-size: 50px;
}
#header:first-child {
    background-color: yellow;
}

#headtitle {
    font-family: sans-serif;
    font-weight: bold;
    font-size:30px;
    margin:20px 0px 20px 250px;

}
#container {


}
img {

    width: 650px;
    height: 450px;
    float:right;
}

#links {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 75px;
}
#listsection {
    float: left;
    margin-left: 300px;
    display: inline-block;
    font-size: 18px;
    color: white;
}
#listsection h3 {
    color:white;
}
table {
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    text-align: left;
    border:2px solid black;

}

#story {
    font-size: 20px;
    margin-top: 135px;
}
blockquote {
    width: 450px;
    font-size: 160%;
    text-align:left;
    margin-left:35%;
    margin-bottom:20px;
    background-color: darkgrey;
    font-style: italic;

}

blockquote h2 {
    margin-bottom: 10px;
    margin-top:20px;
}
q {
    border-left:3px solid red;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 10px;
    margin-left: 5px;
    }

.tablecolor tr:nth-child(odd){
    background: white;
}
.tablecolor tr:nth-child(even){
    background: grey;
}

.farmerQ {
    border-left:3px solid red;
}
.everybodyQ {
    border-left: 3px solid white;
}

.neighboursQ {
    border-left: 3px solid blue;
}

#footer{
    text-space: ;
    text-align:center;
    background-color: darkslategray;
    color:white;
    height:100px;

}

.good {
    color: green;
    text-transform: uppercase;
}

.bad {
    color:red;
    text-transform: uppercase;
}

#copyright {

    font-weight: bold;
    font-size: 20px;
}

